html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 25% auto;
  padding: 0 5%;

  background-color: #b2afff;
}

article {
  border: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 6px 5px 2px rgb(60, 58, 58);
}

h1 {
  font-family: Liberation serif;
  text-align: center;
}

p {
  font-family: "Archivo";
}

.form input[type="number"] {
  width: 200px;
  margin: 5px auto;
}

label {
  font-family: "Archivo";
}

.guessSubmit {
  display: block;
  margin: 5px auto;
}

.lastResult {
  color: white;
  padding: 3px;
}

/* for mobile screens */
@media (max-width: 480px) {
  body {
    min-width: 300px;
    margin: 25% auto;
  }

  input [type="number"] {
    width: 300px;
  }
}
